form.search {
  overflow: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

button, input {
  /* float: right; */
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;
  height: 40px;
  font-size: 30px;
}



text {
  font-weight: bold;
  margin-top: 20px;
}

.form-control {
  height: 50px;
  font-size: 20px;
}

form {
  margin-left: 25%;
}
