

.btn {
  
  margin-right: 15px;
  
 
}
.card-deck {
  /* height: 25% !important; */
}

/* .card-text{
  font-size:19px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
} */

a{
  margin-bottom: 5px;
}

img {
  height: 300px;
  margin-right: 25%;
}
.crop {
  height: 100px;
  overflow: hidden;
}

.container {
  /* padding-left: 10%; */
  background-color: blueviolet;
  width: 100%;
}
.card {
  max-height: 20% !important;
  min-height: 10% !important;
  min-width: 50% !important;
  /* height: 20%; */
  
  /* justify-content: space-between; */

  /* margin-right: .1%; */
  border-radius: 10px;
  margin-bottom: 5%;
  float: left;
  /* align-items: center; */
  margin-left: 0px;
  margin-top: 2%;
  
}

.card-img-top {

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 50%;
  max-height: 50%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.description {
  max-height: 10% !important;

}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 414px){

}