

.btn {
  
  margin-right: 15px;
  width: 20%;
 
}

.card {
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-height: 10%;
  max-width: 10%;
  float: left;
  align-items: center;
  margin-left: 5%;

  
}

.card-img-top {

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 50%;
  max-height: 50%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;

}